// @font-face {
//   font-family: 'TT Commons';
//   font-weight: 300;
//   src: url('~@/assets/fonts/TTCommons-Light.woff') format('woff');
// }

// @font-face {
//   font-family: 'TT Commons';
//   font-weight: 400;
//   src: url('~@/assets/fonts/TTCommons-Regular.woff') format('woff');
// }

// @font-face {
//   font-family: 'TT Commons';
//   font-weight: 500;
//   src: url('~@/assets/fonts/TTCommons-Medium.woff') format('woff');
// }

@font-face {
  font-family: 'TT Commons';
  font-weight: 600;
  src: url('~@/assets/fonts/TTCommons-DemiBold.woff') format('woff');
}

// @font-face {
//   font-family: 'TT Commons';
//   font-weight: 700;
//   src: url('~@/assets/fonts/TTCommons-Bold.woff') format('woff');
// }

// @font-face {
//   font-family: 'TT Commons';
//   font-weight: 800;
//   src: url('~@/assets/fonts/TTCommons-ExtraBold.woff') format('woff');
// }